<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Med add</title>
  </head>
  <body>
    <form class="" action="/meds/add" method="post">
      <input type="text" name="name" placeholder="Medicine name"/>
      <input type="text" name="count" placeholder="count"/>
      <input type="text" name="brand" placeholder="brand"/>
      <button type="submit">Add</button>
    </form>
  </body>
</html>
