<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Meds</title>
  </head>
  <body>
    <h1>this is the list of meds available</h1>

    <table>
      {{#rows}}
      <tr>
        <td>{{mid}}</td>
        <td>{{name}}</td>
        <td>{{count}}</td>
        <td>{{brand}}</td>
        <td>
          <a href="/meds/edit/{{mid}}">edit</a>
        </td>
        <td>
          <form action="/meds/delete/{{mid}}" method="post">
            <button type="submit" >Delete</button>
          </form>
        </td>
      </tr>
      {{/rows}}
    </table>
  </body>
</html>
