body{
  font-family: proxima-semibold, Helvetica, Arial, sans-serif;

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;

   transform: translate(-50%, -50%);
   color: white;
   font-size: 1.5em;

}

.centered-heading{
  weight:bold;
  position: absolute;
  top: 40%;
  left: 50%;

 transform: translate(-50%, -50%);
  color: white;
  font-size: 4em;
}
#continue{
  position: absolute;
  top: 60%;
  left: 50%;

 transform: translate(-50%, -50%);
}
